* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER */
header {
    height: 100px;
}

h1 {
    text-align: center;
}

/* MAIN */
.box-section {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.squares-container {
    width: 600px;
    height: 600px;
    display: grid;
    border: 1px solid black;
}


.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

button {
    padding: 5px 20px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.size {
    color: black;
    background: #faedcd;
}


/* FOOTER */
footer {
    height: 100px;
}